.l-latest-works{
    background-color: white;
    padding: 0 18px;
}


.latest-works-title{
    font: 15px/24px "raleway-heavy", sans-serif;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: $grey-title;
    margin-bottom: 18px;
    text-align: center;
}

.latest-works-separator{
    border: solid $orange-light;
    border-width: 3px 0 0;
    width: 90px;
    margin: 11px auto 15px;
    height: 0;
    clear: both;
    text-align: center;
    
}

.latest-works-description{
    text-justify: auto;
    margin: 15px 0 15px 0;
    text-align: center;
}

.latest-works{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    background-color: white;
}

.work{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    background-color: $orange-light;
}

.work-img{
    max-width: 100%;
    height: auto;
    transition-delay: 0.5s;
}


.work-title{
    color: white;
    text-transform: uppercase;
    font: 15px/21px;
}

.work-description{
    color: $grey-light;
}

.work-text{
    position: absolute;
    visibility: hidden;
    transition-delay: 0.5s;
    display: flex;
    flex-flow: column wrap;
}

.overlay{
    position: absolute;
}
