// Breakpoints
$lg-screen: 768px;

/* Font related
    ff: font family
    fs:font size
    fw: font weight
    lh:line height
*/
$ff-base: "Merriweather", serif;
$ff-forms: "Raleway", sans-serif;
$fs-normal: 15px;
$fw-normal: 400;
$fw-bold:   700;
$lh-normal: 30px;

// Colors
$grey-darkest:    rgb(14,16,21);    //#0E1015
$grey-darker:     rgb(18,21,27);    //#12151B
$grey-dark:       rgb(38,45,58);    //#262D3A
$grey:            rgb(87,88,89);    //#575859
$grey-light:      rgb(192,205,209); //#C0CDD1
$grey-lighter:    rgb(236,240,241); //#ECF0F1
$orange-dark:     rgb(164,59,10);   //#A43B0A
$orange-light:    rgb(242,101,34);  //#F26522
$grey-title:  #252525;

// Offsets
$offset-65: 65px;

// Resources
$img-logo: url("../assets/images/logo.png");
$img-hero: url("../assets/images/hero-bg.jpg");

$img-grizzly: url("../assets/images/grizzly.jpg");
$img-hotel: url("../assets/images/hotel.jpg");
$img-judah: url("../assets/images/judah.jpg");
$img-banjo-player: url("../assets/images/banjo-player.jpg");
$img-beetle: url("../assets/images/beetle.jpg");
$img-coffe: url("../assets/images/coffe.jpg");
$img-farmerboy: url("../assets/images/farmerboy.jpg");
$img-embossed-paper: url("../assets/images/embossed-paper.jpg");